@page
@model CO550TeamProject.Pages.CustomerAddresses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomerAddress</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress.HouseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress.HouseNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress.HouseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress.HouseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress.RoadName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress.RoadName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress.PostTown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress.PostTown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress.Postcode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CustomerAddress?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
