@page
@model CO550TeamProject.Pages.CustomerPayments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPayment[0].CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPayment[0].ExpiryMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPayment[0].ExpiryYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPayment[0].CVVNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CustomerPayment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVVNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
